/clase2/EjercicioTcp/nbproject/private/
/clase3/EducacionIT - Java Advanced - Tutorial Sockets TCP/build/
/clase3/EducacionIT - Java Advanced - Laboratorio 4/build/
/clase2/ChatDeCero/nbproject/private/
/clase2/ChatDeCero/build/
/clase2/JavaApplication4/nbproject/private/
/clase2/JavaApplication4/build/
/clase2/PracticaNetworking/nbproject/private/
/clase2/PracticaNetworking/build/
/clase2/ChatDesdeCero/nbproject/private/
/clase2/ChatDesdeCero/build/
/clase4/ChatDesdeCero/nbproject/private/
/clase4/ChatDesdeCero/build/
/clase4/EducacionIT - Java Advanced - Laboratorio 5/build/